<html>
  <head>
    <title>Sample</title>
  </head>
  <body>
    <h1 id="hello">Not filled out by JavaScript.</h1>
    <script type="text/javascript" src="/assets/application.js"></script>
  </body>
</html>
